Assignment3/Lead_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email</name>
        <label>Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_1.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Keep in touch with us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Please keep in touch with us&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Email_sent</name>
        <label>Email sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Nurturung_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Nurturung_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive</name>
        <label>Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Nurturung_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.Lead_Temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Nurturung_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sale_contacted</name>
        <label>Sale contacted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Nurturung_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Contacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>log.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Nurturung_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Temperature</name>
        <label>Temperature</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>temp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>Stale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>temp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive</targetReference>
            </connector>
            <label>Stale</label>
        </rules>
        <rules>
            <name>Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>temp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_1</targetReference>
            </connector>
            <label>Cold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>temp</name>
        <dataType>String</dataType>
        <expression>IF(({!Loop_1.Last_Activity_Date__c}&lt;TODAY() -90), &apos;Hot&apos;, IF(({!Loop_1.Last_Activity_Date__c}&lt;TODAY() -31),&apos;Cold&apos;,IF(({!Loop_1.Last_Activity_Date__c}&lt;TODAY() -7),&apos;Warm&apos;,&apos;Inactive&apos;)))</expression>
    </formulas>
    <interviewLabel>Lead flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temperature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lead_log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Task for  sales team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sale_contacted</targetReference>
        </connector>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop_1.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Lead_log</name>
        <label>Lead log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Leads</targetReference>
        </connector>
        <inputReference>logs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>leads</name>
        <label>leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Temperature__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Activity_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>leads</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>leads</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-09-18</startDate>
            <startTime>08:04:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Nurturing_Log__c</objectType>
    </variables>
    <variables>
        <name>logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Nurturing_Log__c</objectType>
    </variables>
</Flow>
